{% extends 'base.html' %}
{% block content %}
<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <h1>Contact Us</h1>
        <p>If you have any questions, inquiries, or feedback, we'd love to hear from you!</p>
        <br>
        <br>
        <h2>Contact Information</h2>
        <p><strong>Address:</strong> Arlington</p>
        <p><strong>Phone:</strong> 999-999-9999</p>
        <p><strong>Email:</strong> help@rover.com</p>
        <br>
        <br>
        <h2>Office Hours</h2>
        <p>We're here to assist you during the following hours:</p>
        <p><strong>Monday - Friday:</strong> 9:00 AM - 6:00 PM</p>
        <p><strong>Saturday:</strong> 10:00 AM - 4:00 PM</p>
        <p><strong>Sunday:</strong> Closed</p>
        <br>
        <br>
        <h2>Get in Touch</h2>
        <p>Feel free to reach out to us via phone or email, or simply use the contact form below. Our friendly team will respond to your inquiries promptly.</p>
        
        <!-- Add a contact form here if desired -->
    </div>
</main>
{% endblock %}
