{% extends 'base.html' %}
{% block content %}
<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <h1>About Us</h1>
        <p>Welcome to Wheels on Demand Car Rentals</p>
        
        <p>At Wheels on Demand, we're dedicated to providing you with the best car rental experience. Whether you're planning a weekend getaway, a business trip, or a family vacation, we have the perfect car to meet your needs.</p>
        
        <p>Our fleet of vehicles includes a wide range of options, from compact cars to luxury SUVs. We take pride in offering well-maintained, clean, and comfortable cars for your journey.</p>
        
        <p>Our team of experienced professionals is committed to ensuring your safety and satisfaction. We offer competitive rental rates, flexible booking options, and convenient pick-up and drop-off locations to make your rental process seamless and enjoyable.</p>
        
        <p>Explore the freedom of the open road with Wheels on Demand Car Rentals. We look forward to serving you and making your trip a memorable one.</p>
        
        <p>Contact us today to book your next car rental adventure!</p>
    </div>
</main>
{% endblock %}
